body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0px;
    padding: opx;
}

body {
    font-family: 'Segoe UI', Verdana, sans-serif;
    color: #222;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

.header {
    background: #F0F0F0;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: column;
}
.logo img {
    max-width: 180px;
}

.logo {
    
    padding: 40px;
    border-bottom: 1px solid #ccc;
}

.menu a {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #286264;
}

.menu a:hover {
    background-color: #286264;
    color: #F0F0F0;
}

.empty {
    flex-grow: 1;
}

.user img {
    max-width: 48px;
    border-radius: 50%;
}

.user {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.user > * {
    margin: 10px;
}

.all {
    display: flex;
    flex-direction: column;
}

.top {
    width: 1100px;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.title {
    font-size: 1em;
    line-height: 1;
    margin: 20px;
    color: #333;
}


.btn-product {
    width: 200px;
    height: 40px;
    background-color: #f0f0f0;
    border: 1px;
    border-radius: 8px;
    color: #286264;
    padding: 8px;
    margin: 0px 5px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    font-size: 1em;
    transition-duration: 0.4s;
}

.btn-ncm {
    width: 200px;
    height: 40px;
    background-color: #f0f0f0;
    border: 1px;
    border-radius: 8px;
    color: #286264;
    padding: 8px;
    margin: 0px 5px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    font-size: 1em;
    transition-duration: 0.4s;
}

.btn-product:hover {
    background-color: #286264;
    color: #f0f0f0;
}

.btn-ncm:hover {
    background-color: #286264;
    color: #f0f0f0;
}

.info-products {
    text-align: center;
    text-decoration: none;
    margin: 0;
    display: inline-block;
    align-items: center;
    padding: 10px 45px;
    color: #333;
}